@using WebMetrolog.Entity
@model Dictionary<string, List<string>>
@{


}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    @{
        foreach(var calibration in Model)
            {
            <table>
                    <tr>
                        <td>@calibration.Key</td>
                        <td>@calibration.Value</td>

                    </tr>

            </table>


            }





    }
</body>

</html>