<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--Запись в файл-->
	<targets>
		<target name="allfile" xsi:type="File" fileName="E:\Programs\MS Visual Studio Projects\WebMetrolog\Logs-${shortdate}.log"
		layout="${longdate}|${logger}|${uppercase:${level}}|${massage}"/>

		<target xsi:type="File"
				archiveFileName="E:\Programs\MS Visual Studio Projects\WebMetrolog\Logs-${shortdate}{#}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveDateFormat = "yyyyMMdd" 
				archiveAboveSize="1000000"
				maxArchiveFiles="10"
				/>
	</targets>


	


    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />   <!--Полная информация-->
    </rules>
	





</nlog>


